<ul>
  <li><a href="home">Home</a></li>
  <li><a href="works">All I want for Xmas is you</a></li>
</ul>
<br />
<img src="download.jpg" />

<h3>
  According to a 2017 report in The Economist, "All I Want for Christmas Is You"
  in the U.S. alone provided Mariah with $60 million between 1994 and 2016,
  meaning it nets her an average of approximately $2.6 million per year. That's
  not even counting the U.K. royalties, the streaming plays, and more.
</h3>
<br />
<h3>
  In 2020, Mariah went the extra mile by also airing a Christmas special on
  Apple TV Plus known as Mariah Carey's Magical Christmas Special. The exact
  monetary figure that special netted her was never disclosed. The special has
  been renewed for the 2021 Christmas season.
</h3>