<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1>
      Ever Wonder How Much Money Mariah Carey's Made Off "All I Want for
      Christmas Is You?"
    </h1>
    <h2>Answer: a lot!</h2>

    <img src="delorean-14-12-mariah-carey-optimised-1-1514221112.jpg" />

    <a href="about">This is a link to About </a>
    <a href="works">This is a link to Works </a>
  </body>
</html>
