<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>works</title>
  </head>
  <body>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About Mariah Carey Christmas cash</a></li>
    </ul>
<br>
<img src="images-1.jpg" />
    <h3>You will be listening to this song all Christmas season... Enjoy, while Mariah gets richer and richer.</h3>
   <h3><iframe width="560" height="315" src="https://www.youtube.com/embed/aAkMkVFwAoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </h3>
  </body>
</html>
